/*rating styles */
.star-rating {
  display: flex;
  gap: 5px;
  font-size: 2rem;
  margin-top: 10px;
}

.star {
  color: #ccc;
  cursor: pointer;
  transition: color 0.2s;
}

.star.selected {
  color: gold;
}
